/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
}
img{
    width: 100%;
}
:root{
    /* palette */
    --primary-col: #0084fd;
    --primary-col-light: #b5ddff;
    --secondary-col: #9792e4;
    --secondary-col-light: #d5d4f4;
    /* commons */
    --text-col: #111;
    --white-col:#fff;
    --dark-gray: #333;
}
/* /RESET */
/* COMMONS */
.flex-container{
    display:flex;
    justify-content: space-between;
}
.container{
    width: 80%;
    margin: 0 auto;
}
ul{
    list-style-type: none;
}
/* /COMMONS */
/* HEADER */
header{
    width: 100%;
    padding: 1em 0;
    background-color: var(--primary-col);
    color: var(--white-col);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
header .container{
    align-items: center;
}
.main-menu ul{
    display: none;
}

/* /HEADER */
/* MEDIAQUERIES */
@media screen  and (min-width:768px){
    .container{
        width: 90%;
    }
}
@media screen  and (min-width:992px){
    .container{
        width: 60%;
    }
    .hamburger{
        display: none;
    }
    .main-menu ul{
        display: flex;
    }
}
@media screen  and (min-width:1200px){
    .container{
        max-width: 1000px;
    }
}

/* /MEDIAQUERIES */